<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>NYC Motor Vehicle Collision</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{{ url_for('static', filename = 'custom.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span>
                	Logo
                </a>
            </div> -->
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Welcome</a>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><large>Best Night Life in NYC</large>
                    <!-- <small>Recent Work</small> -->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">


        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a
                    <img class="img-responsive" src="" alt="">
                </a>

                <a href="subpage2/subpage2.html">
                    <img class="img-responsive" src="{{ url_for('static', filename = 'beer.gif') }}" alt="">
                </a>
                <h3>
                    <a href="templates/admin.html">Bars</a>
                </h3>
                <form method="GET" action="/bar"><p><input type="submit" value="choose"> </p></form>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="subpage2/subpage2.html">
                    <img class="img-responsive" src="{{ url_for('static', filename = 'adult.png') }}" alt="">
                </a>
                <h3>
                    <a href="subpage2/subpage2.html">Adult Entertainment</a>
                </h3>
               <form method="GET" action="/admin">
<p><input type="submit" value="choose"> </p>
</form>
            </div>
        </div>


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{{ url_for('static', filename = 'dance.jpg') }}" alt="">
                </a>
                <h3>
                    <a href=https://www.google.com/maps/d/u/1/embed?mid=zrJkckIyCOA8.kWL2iQEgFpTY>Dance Clubs</a>
                </h3>
                <form method="GET" action="/dance">
<p><input type="submit" value="choose"> </p>
</form>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{{ url_for('static', filename = 'comedy.jpg') }}" alt="">
                </a>
                <h3>
                    <a href="http://www.ee.columbia.edu/~cylin/course/bigdata/workshop/Dec2015/">Beer Bars</a>
                </h3>
                </form>
<form method="GET" action="/comedy">
<p><input type="submit" value="choose"> </p>
</form>
            </div>
        </div>
        <!-- Pagination -->


    </div>

	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-5 footer-blurb-item">
						<img class="img-circle" src="{{ url_for('static', filename = 'Peiran.jpg') }}" alt="" width="100" height="100">
						<h3>Peiran Zhou</h3>
						<p>Master of Electrical Engineering program in Columbia University in the city of new york. This is my first year, and my research interest is web development and data analyst.</p>
						<p><a class="btn btn-primary" href="https://cn.linkedin.com/in/peiran-zhou-3478b1b0">Linkedin</a></p>
					</div>

                    <!-- <div class="col-sm-4 footer-blurb-item">
                        <img class="img-circle" src="{{ url_for('static', filename = 'Peiran.jpg') }}" alt="" width="0" height="0">
                    </div> -->

					<div class="col-sm-5 footer-blurb-item">
						<img class="img-circle" src="{{ url_for('static', filename = 'Haitian.jpg') }}" alt="" width="100" height="100">
						<h3>Haitian Sun</h3>
						<p>Currently as a Master Science candidate in Computer Engineering, my career interests lie in data science. The experience solving problem with data inspired me.</p>
						<p><a class="btn btn-primary" href="https://www.linkedin.com/in/haitian-sun-6673aa86">Linkedin</a></p>
					</div>

				</div>
				<!-- /.row -->
			</div>
        </div>

        <div class="copyright">
        	<div class="container">
        		<p>Copyright &copy; Haitian Sun, Peiran Zhou 2016</p>
        	</div>
        </div>
	</footer>

 <!-- jQuery -->
<!--     <script src="js/jquery-1.11.3.min.js"></script>
 -->    <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'jquery-1.11.3.min.js') }}" ></script>

    <!-- Bootstrap Core JavaScript -->
<!--     <script src="js/bootstrap.min.js"></script>
 -->
    <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'bootstrap.min.js') }}" ></script>



</body>

</html>


