<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>NYC Motor Vehicle Collision</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span>
                	Logo
                </a>
            </div> -->
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Introduction</a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Mixture_model">Gaussian Mixture Model</a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation">Latent Dirichlet Allocation</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><small>Analysis of Motor Vehicle Accident in NYC</small>
                    <!-- <small>Recent Work</small> -->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="http://www.nbcnewyork.com/traffic/">
                    <img class="img-responsive" src="images/nytraffic.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.nbcnewyork.com/traffic/">NYC Traffic Condition</a>
                </h3>
                <p>New York City has one of the most extensive and oldest transportation infrastructues across the country. </p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/accident.jpg" alt="">
                </a>
                <h3>
                    <a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95">Traffic Accident Dataset</a>
                </h3>
                <p>Basic analysis of NYC traffic accident, using Ruby. A very easy, normal, direct statistic. This part finished by Jimin Ge.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="subpage/subpage1.html">
                    <img class="img-responsive" src="images/gmm.jpg" alt="">
                </a>
                <h3>
                    <a href="subpage/subpage1.html">Bayesian Gaussian Mixture Model</a>
                </h3>
                <p>In machine learning, naive Bayes classifiers are a family of simple probabilistic classifiers based on applying Bayes' theorem with strong (naive) independence assumptions between the features.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="subpage2/subpage2.html">
                    <img class="img-responsive" src="images/LDA.jpg" alt="">
                </a>
                <h3>
                    <a href="subpage2/subpage2.html">Latent Dirichlet allocation</a>
                </h3>
                <p>In natural language processing, Latent Dirichlet allocation (LDA) is a generative model that allows sets of observations to be explained by unobserved groups that explain why some parts of the data are similar.</p>
            </div>
        </div>


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/googlemap.jpg" alt="">
                </a>
                <h3>
                    <a href=https://www.google.com/maps/d/u/1/embed?mid=zrJkckIyCOA8.kWL2iQEgFpTY>Google Map</a>
                </h3>
                <p>Google Maps provides a route planner under "Get Directions". Up to four modes of transportation are available depending on the area: driving, public transit, walking, and bicycling.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/data.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.ee.columbia.edu/~cylin/course/bigdata/workshop/Dec2015/">Big Data Analytics</a>
                </h3>
                <p>Data Science is an interdisciplinary field about processes and systems to extract knowledge or insights from data in various forms, either structured or unstructured, which is a continuation of some of the data analysis fields such as statistics, data mining, and predictive analytics, similar to Knowledge Discovery in Databases (KDD).</p>
            </div>
        </div>
        <!-- Pagination -->


    </div>
    <!-- /.container -->

	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 footer-blurb-item">
						<img class="img-circle" src="images/Peiran.jpg" alt="" width="100" height="100">
						<h3>Peiran Zhou</h3>
						<p>Master of Electrical Engineering program in Columbia University in the city of new york. This is my first year, and my research interest is web development and data analyst.</p>
						<p><a class="btn btn-primary" href="https://cn.linkedin.com/in/peiran-zhou-3478b1b0">Linkedin</a></p>
					</div>
					<div class="col-sm-4 footer-blurb-item">
						<img class="img-circle" src="images/xiaowen.jpg" alt="" width="100" height="100">
						<h3>Xiaowen Zhang</h3>
						<p>Currently as a Master Science candidate in Electrical Engineering, my career interests lie in data science. The experience solving problem with data inspired me.</p>
						<p><a class="btn btn-primary" href="https://www.linkedin.com/in/xiaowen-zhang-973b24b0">Linkedin</a></p>
					</div>
					<div class="col-sm-4 footer-blurb-item">
						<img class="img-circle" src="images/jimin.jpg" alt="" width="100" height="100">
						<h3>Jimin Ge</h3>
						<p>Master of Electrical Engineering program in Columbia University in the city of new york. This is my first year, and my research interest is web development and data analyst.</p>
						<p><a class="btn btn-primary" href="https://www.linkedin.com/in/jimin-ge-504733a9">Linkedin</a></p>
					</div>

				</div>
				<!-- /.row -->
			</div>
        </div>

        <div class="copyright">
        	<div class="container">
        		<p>Copyright &copy; Xiaowen zhang, Jimin Ge, Peiran Zhou 2015</p>
        	</div>
        </div>
	</footer>

 <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>

<html>

   <head>
      <script type = "text/javascript"
         src = "{{ url_for('static', filename = Hello.js') }}" ></script>
   </head>

   <body>
      <input type = "button" onclick = "sayHello()" value = "Say Hello" />
   </body>

</html>
